#colors-demo {
  ul.demo-alignment li {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: default;
    box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    position: relative;
  }
}
